---
---
@import "{{site.theme}}";
h1 {
        font-family: Helvetica;
        font-style: bold;
        font-size: 40px;
      }
      h2 {
        font-family: Helvetica;
        font-style: bold;
        font-size: 32px;
      }
      p {
        font-family: Arial;
        font-style: normal;
        font-size: 20px;
      }
      
      inline {
              display: list-item;
      }        
      ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #91278f;
      }
      li {
        font-family: Arial;
        float: left;
      }

      li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
      }
      li a:hover {
       background-color: #0084a9;
     }
     .active {
       background-color: #0084a9;
     }
    .container {
      display: flex;
      align-items: center;
      justify-content: center
    }
    img {
      max-width: 100%;
      max-height:100%;
    }
    .text {
     font-size: 20px;
     padding-left: 20px;
    }
    .dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {background-color: #0084a9;}

.dropdown:hover .dropdown-content {
  display: block;
}

.collapsible {
  background-color: #91278f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #0084a9;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#editor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

label {
    font-weight: bold;
    color: #007acc;
}

.code-section {
    margin-bottom: 20px;
}

#htmlCode,
#cssCode {
    background-color: #fff;
}

.code {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    resize: none;
    font-family: "Courier New",
        monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007acc;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#downloadButton {
    text-decoration: none;
    background-color: #007acc;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
}

iframe {
    width: 100%;
    height: calc(100% - 320px);
    border: none;
}

#htmlCode::placeholder,
#cssCode::placeholder,
#jsCode::placeholder {
    color: hsl(113, 100%, 49%);
}

/* Styles for responsive UI */
@media (max-width: 768px) {
    .code-section {
        width: 100%;
        margin: 0px 0;
    }
    .code {
        width: 100%;
    }
}
/* Style for scrollable output box */
#output {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; 
    max-height: 300px; 
}
